button{
    width: 70px;
    height: 30px;
    border: none;
    outline: none;
    
}

.blue {
  background-color: blueviolet;  
    
}
.btn-block{
    background-color: grey;
    padding: 20px;
}

.red {
    background-color: red;
}